
body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  padding: 20px;
}
input, select, button {
  padding: 8px;
  margin: 5px;
}
#chatBox {
  height: 150px;
  overflow-y: scroll;
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
}
